.community-message {
    margin-top: 100px;
    margin-bottom: 100px;
    background: url(../img/rectangle-1.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    padding: 100px 100px 200px 20px;
    color: #fff;
    font-size: 30px;
}

.community{
    margin-top: 100px;
    margin-bottom: 100px;
}

.community_text-box{
    display: inline-block;
    font-size: 15px;
    background-color: #fff;
    padding: 25px 25px 25px 25px;
    margin-bottom: 30px;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.11);
}
.community_head{
    display: flex;
    align-items: center;
}

.community_head img {
    max-width: 50px;
    height: 50px;
    margin-right: 20px;
}

input[type=text] {
    width: 600px;
    height: 50px;
    border: none;
    display: block;
    margin-bottom: 20px;
    font-size: 20px;
    padding-left: 15px;
}

input[type=submit] {
    border: 2px solid #fff;
    background: none;
    color: #fff;
    padding: 5px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    background-color: none;
    transition: 0.4s ease-in-out;
}

input[type=submit]:hover {
    background: #fff;
    color: #ee252d;
}

input:focus {
    outline: none;
}


@media (max-width: 500px) {
    .community-message{
        font-size: 20px;
        margin-top: 50px;
        margin-bottom: 50px;
        padding: 50px 100px 80px 20px;
    }
    input[type=text] {
        max-width: 300px;
    }
}