.contact-box {
    background: url(../img/rectangle-1.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

.contact-box__inner {
    padding: 100px;
    color: #fff;
    font-size: 40px;
}

.top {
    display: flex;
    justify-content: start;
    align-items: center;
    font-size: 60px;
}

.top > img {
    width: 120px;
    height: 120px;
}

.social {
    margin-top: 150px;
}

.social_inner {
    margin-top: 100px;
    margin-bottom: 100px;
    display: flex;
    justify-content: space-evenly;
}

.social_inner > a > img {
    width: 80px;
    padding-right: 50px;
}

h2 {
    font-size: 50px;
    text-align: center;
}

@media (max-width: 500px) {
    .top {
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 30px;
    }
    .top > img {
        width: 50px;
        height: 50px;
    }

    .contact-box__inner {
        padding: 100px;
        color: #fff;
        font-size: 20px;
        text-align: center;
    }
    
    .social {
        margin-top: 50px;
    }
    .social_inner {
        margin-top: 50px;
        margin-bottom: 50px;
    }

    .social_inner > a > img {
        width: 40px;
        padding-right: 10px;
    }
}