
.shop-head {
    text-align: center;
}

.shop-nav ul{
    display: flex;
    justify-content: center;
}

.shop-nav ul li {
    list-style: none;
    padding-right: 20px;
}

.shop-nav ul li a {
    text-decoration: none;
    color: #494949;
    font-weight: 700;
    transition: 0.4s ease-in-out;
}

.shop-nav ul li a:hover {
    color: #ee252d;
}

.all {
    max-width: 800px;
}

.all-block {
    display: block;
    
}

.all-block>h1 {
    font-size: 60px;
}

.menu-block {
    display: flex;
    justify-content: start;
    margin-bottom: 100px;
}

.menu-block img {
    max-width: 500px;
    min-width: 500px;
    height: 300px;
    margin-right: 50px;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.11);
}

@media (max-width: 500px) {
    .menu-block {
        display: flex;
        flex-direction: column;
    }

    .menu-block img {
        max-width: 300px;
        min-width: 200px;
        height: auto;
    }
}